@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:ital,wght@0,300;0,800;1,400;1,500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

/* nav */
.nav{
	cursor: pointer;
	position: absolute;
	top: 5%;
	right: 5%;
	width: 30px;
	height: 20px;
}

.bars{
	width: 30px;
	height: 4px;
	background: #fa0269;
}

.bars::before,
.bars::after{
	content: '';
	position: absolute;
	width: 30px;
	height: 4px;
	background: #fa0269;
}

.bars::before{
	margin-top: 9px;
}

.bars::after{
	margin-top: 18px;
}

nav{
	position: absolute;
	width: 100%;
	height: 30px;
	background-image: linear-gradient(45deg, #da2168,#ba44ca79,#f31a1ad0);
	display: flex;
	justify-content: center;
	align-items: center;
	right: -200vw;
}

nav ul {
	list-style: none;
}

nav ul li{
	margin: 50px 0;
}

nav ul li a{
	color: #fafafa;
	font-size: 2em;
	text-decoration: none;
	font-weight: 500;
	position: relative;
	opacity: 0;
	pointer-events: none;
}

nav ul li a:after{
	content: '';
	width: 100%;
	position: absolute;
	height: 3px;
	border-radius: 5px;
	background: #fff;
	bottom: -10px;
	left: 0;
	transform-origin: left;
	transition: transform .5s ease;
	transform: scaleX(0);
}


nav ul li a:hover:after{
	transform: scaleX(1);
}

nav .close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 6%;
	right: 5%;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
}

nav h2{
	position: absolute;
	top:5%;
	left: 5%;
	opacity: 0;
	pointer-events: none;
	color: #ffffff;
	font-size: 2em;
}

nav .close div::before,
nav .close div::after{
	content: '';
	position: absolute;
	width: 30px;
	height: 4px;
	background: #fff;
	transition: background .5s ease;
}
nav .close div::before{
	transform: rotate(-45deg);
}

nav .close div::after{
	transform: rotate(45deg);
}

nav .close:hover div::before,
nav .close:hover div::after{
	background: rgb(255, 2, 78);
}

@media (max-width: 992px){
  h2{
    font-size: 25px;
  }
}

.container {
  color:#978e10;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('https://tse1.mm.bing.net/th/id/OIG4.o2Zk.wAmuc9Z6vfcypXu?pid=ImgGn');
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.container h1{
	position: absolute;
	top:5%;
	left: 5%;
	pointer-events: none;
	color: #da1466b2;
	font-size: 2em;
	z-index: 2;
}

.bgtext h2 {
  font-weight: 700;
  font-size: 5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  padding: 1.7rem;
  border-radius: 1.6rem;
  cursor: pointer;
color: #d30b79ad;
  
}

p {
  max-width: 600px;
  line-height: 1.5;
  padding: 0.8rem;
  font-size: 18px;
  text-align: center;
}

 a {
  display: inline-block;
  background-color: #4240408c;
  color: #fff;
  padding: 0.7rem 2rem;
  text-decoration: none;
  font-weight: 700;
  border-radius: 0.7rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

a:hover {
  background-color: #222;
}


/* button */
.container a {
	position:relative;
	padding: 10px 20px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
	color: #f8420ae3;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	font: 700 30px consolas;
	overflow: hidden;
	margin-top: 50%;
	background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

a span:nth-child(1) {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right, #ff009d, #f80000);
	animation: animate1 2s linear infinite;
}

@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

a span:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 3px;
	background: linear-gradient(to bottom, #ff5100, #ff00aa);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate2 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}

a span:nth-child(3) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to left, #ff0a997c, #ff05de);
	animation: animate3 2s linear infinite;
}

@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

a span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 3px;
	background: linear-gradient(to top, #ff8800, #ff4a02de);
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate4 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}
